<?xml version='1.0' encoding='utf-8'?>
<widget id="io.polito.findplay" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.Geolocation" />
    </feature>
    <feature name="CordovaGoogleMaps">
        <param name="android-package" value="plugin.google.maps.CordovaGoogleMaps" />
        <param name="onload" value="true" />
        <param name="onreset" value="true" />
    </feature>
    <feature name="PluginMap">
        <param name="android-package" value="plugin.google.maps.PluginMap" />
    </feature>
    <feature name="PluginPolyline">
        <param name="android-package" value="plugin.google.maps.PluginPolyline" />
    </feature>
    <feature name="PluginPolygon">
        <param name="android-package" value="plugin.google.maps.PluginPolygon" />
    </feature>
    <feature name="PluginMarker">
        <param name="android-package" value="plugin.google.maps.PluginMarker" />
    </feature>
    <feature name="PluginCircle">
        <param name="android-package" value="plugin.google.maps.PluginCircle" />
    </feature>
    <feature name="PluginTileOverlay">
        <param name="android-package" value="plugin.google.maps.PluginTileOverlay" />
    </feature>
    <feature name="PluginGroundOverlay">
        <param name="android-package" value="plugin.google.maps.PluginGroundOverlay" />
    </feature>
    <feature name="PluginKmlOverlay">
        <param name="android-package" value="plugin.google.maps.PluginKmlOverlay" />
    </feature>
    <feature name="PluginGeocoder">
        <param name="android-package" value="plugin.google.maps.PluginGeocoder" />
    </feature>
    <feature name="PluginLocationService">
        <param name="android-package" value="plugin.google.maps.PluginLocationService" />
    </feature>
    <feature name="PluginEnvironment">
        <param name="android-package" value="plugin.google.maps.PluginEnvironment" />
    </feature>
    <feature name="PluginMarkerCluster">
        <param name="android-package" value="plugin.google.maps.PluginMarkerCluster" />
    </feature>
    <feature name="PluginStreetViewPanorama">
        <param name="android-package" value="plugin.google.maps.PluginStreetViewPanorama" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <feature name="StatusBar">
        <param name="android-package" value="org.apache.cordova.statusbar.StatusBar" />
        <param name="onload" value="true" />
    </feature>
    <feature name="Whitelist">
        <param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
        <param name="onload" value="true" />
    </feature>
    <allow-navigation href="cdvfile:*" />
    <feature name="CordovaHttpPlugin">
        <param name="android-package" value="com.silkimen.cordovahttp.CordovaHttpPlugin" />
    </feature>
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <feature name="EmailComposer">
        <param name="android-package" value="de.martinreinhardt.cordova.plugins.email.EmailComposer" />
    </feature>
    <feature name="CacheClear">
        <param name="android-package" value="com.anrip.cordova.CacheClear" />
    </feature>
    <allow-navigation href="http://localhost/*" />
    <allow-navigation href="https://localhost/*" />
    <allow-navigation href="ionic://*" />
    <feature name="IonicWebView">
        <param name="android-package" value="com.ionicframework.cordova.webview.IonicWebView" />
    </feature>
    <feature name="DisableHttpCachePlugin">
        <param name="android-package" value="com.koenromers.cordova.DisableHttpCachePlugin" />
        <param name="onload" value="true" />
    </feature>
    <name>Find&amp;Play</name>
    <description>
        Trova i parchi giochi più vicino a te!
    </description>
    <author email="findandplay@gmail.com" href="https://findplay.ddns.net">
        Find&amp;Play Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Permettici di trovare i parco giochi vicini a te.</string>
    </edit-config>
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>Abbiamo bisogno della tua fotocamera per poter scattare le foto.</string>
    </config-file>
    <allow-intent href="market:*" />
    <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
    <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
    <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
    <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
    <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
    <icon density="ldpi" src="res/icon/android/ldpi.png" />
    <icon density="mdpi" src="res/icon/android/mdpi.png" />
    <icon density="hdpi" src="res/icon/android/hdpi.png" />
    <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    <preference name="loglevel" value="DEBUG" />
    <preference name="xwalkZOrderOnTop" value="true" />
    <preference name="BackgroundColor" value="0" />
    <preference name="android-minSdkVersion" value="29" />
    <preference name="webView" value="com.ionicframework.cordova.webview.IonicWebViewEngine" />
    <preference name="Orientation" value="portrait" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ffe66d" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <preference name="Scheme" value="https" />
    <preference name="ScrollEnabled" value="true" />
    <preference name="GOOGLE_MAPS_IOS_API_KEY" value="AIzaSyBsgAiujhlxfqhx_trCg--aQxHlYj_SyJY" />
    <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="AIzaSyAZhHvnJkDPnfYHSmu0P9FsG-qY1fXj4TQ" />
    <preference name="android-targetSdkVersion" value="29" />
</widget>
