body{
  margin:0;
  padding:0;
  background-color: #eee69e;
  font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #595959;
    font-family: "Comfortaa";
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* li a:hover:not(.active) {
    background-color: #111;
  } */

  .item:hover li a.parco span{
    display: none;
  }
  
  .item:hover li a.parco::after{
    content: "Torna alla lista dei Parchi";
  }
  
  .active {
    background-color: #3bc8c7;
  }


.sicurezza {
  color: red;
}

.manutenzione {
  color: #993333;
}

.vandalismo {
  color: black;
}

.altro {
  color: blue;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

.tab_head{
  background-color: #fec93d;
}

.title_tab{
  font-family: "Chelsea Market"; 
  font-size: 30px;
  color: #434343;
}

table{
  width: 99% !important;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  font-family: "Comfortaa";
}


.dataTables_wrapper 
.dataTables_paginate 
.paginate_button.disabled, 
.dataTables_wrapper 
.dataTables_paginate 
.paginate_button.disabled:hover, 
.dataTables_wrapper 
.dataTables_paginate
.paginate_button.disabled:active {
  cursor: default;
  color: #434343 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #eee69e;
  margin: auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Descrizioni modal content */
.modal-content p {
  font-family: "Comfortaa";
  /* font-size: 30px; */
  color: #434343;
}

/* Titoli modal-content */
.modal-content p b {
  font-family: "Chelsea Market";
  /* font-size: 30px; */
  color: #434343;
}