<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>Find&Play</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/landingpage/marker.png" rel="icon">
  <link href="/static/img/landingpage/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Comfortaa:wght@500&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/js/landingpage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/landingpage.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: CleanLanding
    Template URL: https://templatemag.com/cleanlanding-bootstrap-landing-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt">
          <h2>Find&Play è pronta!</h2>
          <hr>
          <h3>Trova l'area gioco ideale ai tuoi piccoli, scopri nuovi parchi e segnala ciò che non va!</h3>
          <p class="mt">Find&Play è una piattaforma sviluppata da quattro ragazzi del corso di laurea magistrale in <a href = "https://didattica.polito.it/pls/portal30/sviluppo.offerta_formativa.corsi?p_sdu_cds=37:20&p_lang=" target="_blank" style="color:inherit"><b>'ICT for Smart Societies'</b></a>,
             in collaborazione con il comune di Torino. L'obiettivo è migliorare l'esperienza con le aree gioco comunali, connettendo il cittadino direttamente 
             con la pubblica amministrazione.</p>
        </div>

        <div class="col-md-6 centered">
          <img src="/static/img/landingpage/iphone.png" width="300">
        </div>
      </div>
      <!--/row -->
    </div>
    <!-- /.container -->
  </div>
  <!--/Header -->

  <div class="container mtb">
    <div class="row centered">
      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/maps.png" alt="" width="90">
        <h4>SCOPRI</h4>
        <p>Consulta una mappa delle aree gioco presenti nel comune di Torino.</p>
      </div>
      <!--/col-md-4-->

      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/search.png" alt="" width="90">
        <h4>TROVA</h4>
        <p>Filtra le aree gioco presenti nella piattaforma per trovare quella addatta a te e i tuoi bambini.</p>
      </div>
      <!--/col-md-4-->

      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/review.png" alt="" width="90">
        <h4>VALUTA</h4>
        <p>Lascia una recensione dell'area gioco in cui sei stato e leggi quelle lasciate da altri utenti.</p>
      </div>
      <!--/col-md-4-->
    </div>
    <div class="row centered">
      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/report.png" alt="" width="90">
        <h4>SEGNALA</h4>
        <p>Se noti un problema che può essere pericoloso per i bambini, segnalalo.</p>
      </div>
      <!--/col-md-4-->
      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/megafono.png" alt="" width="90">
        <h4>CONTATTO DIRETTO</h4>
        <p>Le tue segnalazioni saranno inviate direttamente alla parte della nostra piattaforma dedicata alla pubblica amministrazione.</p>
      </div>

      <!--/col-md-4-->

      <div class="col-md-4 mt">
        <img src="/static/img/landingpage/parents.png" alt="" width="90" style="border-radius: 100%;">
        <h4>TRANQUILLITÁ</h4>
        <p>Trovando l'area gioco ideale e sapendo di essere ascoltato, potrai passare la tua giornata in tranquillità.</p>
      </div>
      <!--/col-md-4-->
    </div>
    <!--/row -->
  </div>
  <!--/container -->

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 centered">
          <img src="/static/img/landingpage/twophones.png" class="img-responsive">
        </div>
        <div class="col-md-6 mt">
          <h2>Un tuo feedback è importante!</h2>
          <hr>
          <h3>Se ti piace l'idea, aiutaci a testare l'applicazione!</h3>
          <p class="mt">Find&Play è in fase di testing. Abbiamo raccolto i dati di 10 aree gioco torinesi e cerchiamo qualcuno che sia disposto a provare l'applicazione per avere dei suggerimenti o scoprire eventuali malfunzionamenti! </p>
          <p>Supporta il nostro progetto, scaricando l'applicazione sul tuo cellulare e facci sapere se qualcosa non ti è piaciuto!</p>
          
          <div style="text-align: center;">
          <p class="mt">
            <a href="/static/download_apk/app-debug.apk" class = "btn btn-lg btn-trans"  style ="font-size: 24px" download = "Find&Play.apk">
              Scarica
            </a>
          </p>
          </div> 
          
<!--           <div class="form-group">
            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Il tuo indirizzo email">
          </div> 
          <h6>I tuoi dati non saranno condivisi con nessun altro.</h6>
          <p class="mt"><button class="btn btn-lg btn-trans">Invia</button></p>  -->
        </div>

      </div>
      <!--/row -->
    </div>
    <!-- /.container -->
  </div>
  <!--/HEader 2 -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 testimonials">
        <h2>Chi siamo?</h2>
        <p>Siamo un gruppo di studenti del Politecnico di Torino iscritti al corso di laurea magistrale in <b>'ICT for Smart Societies'</b></p>
        <p>Durante l’ultimo anno del corso, gli studenti affrontano l' <b>"Interdisciplinary Project"</b>, un corso di 10CFU, nel quale, attraverso la supervisione di un professore, dovranno sviluppare un progetto per risolvere un problema reale applicando le metodologie ICT studiate. </p>
        <p>Il nostro progetto è <b>Find&Play</b>!</p>
        <!-- Carousel
			    ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style = "margin-top: 20px;">
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/img/landingpage/jacopo.png" class="img-circle aligncenter" width="120" alt="First slide">
              <h3>Jacopo Braccio</h3>
              <h5>Full stack & Mobile App developer</h5>
              <p>Sviluppatore dell'applicazione mobile di 'Find&Play'</p>
            </div>
            <div class="item">
              <img src="/static/img/landingpage/francesco.png" class="img-circle aligncenter" width="120" alt="Second slide">
              <h3>Francesco Conforte</h3>
              <h5>Frontend developer</h5>
              <p>Sviluppatore, insieme a Daniele, della piattaforma di collegamento tra Pubblica amministrazione e cittadino.</p>
            </div>
            <div class="item">
              <img src="/static/img/landingpage/alessio.png" width="120" class="img-circle aligncenter" alt="Third slide">
              <h3>Alessio Ruberti</h3>
              <h5>Data manager</h5>
              <p>Ricerca e catalogazione dei dati necessari per la piattaforma.</p>
            </div>
            <div class="item">
              <img src="/static/img/landingpage/daniele.png" width="120" class="img-circle aligncenter" alt="Third slide">
              <h3>Daniele Radaelli</h3>
              <h5>Frontend developer</h5>
              <p>Sviluppatore, insieme a Francesco, della piattaforma di collegamento tra Pubblica amministrazione e cittadino.</p>
            </div>
          </div>
        </div>
        <!-- /.carousel -->
      </div>
      <!--/col-lg-8-->
    </div>
    <!--/row -->
  </div>
  <!--/container -->
  



  <!-- / contact -->

  <div id="copyrights">
    <div class="container">
      <p><a href="mailto:findplaypolito@gmail.com">Vuoi contattarci? Premi qui!</a></p>
      <p>
        &copy; Copyrights 2021 <strong>Find&Play</strong></p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/cleanlanding-bootstrap-landing-template/
          Licensing information: https://templatemag.com/license/
        -->
        Template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="/static/js/landingpage/lib/jquery/jquery.min.js"></script>
  <script src="/static/js/landingpage/lib/bootstrap/js/bootstrap.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/js/landingpage/js/main.js"></script>

</body>
</html>
